<div class="container-fluid">
  <div class="row">
    <div class="col-4 ml-4">
      Social Media
    </div>
  </div>
  <div class="row">
    <div class="col-0 ml-3">
      <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
    </div>
    <div class="col-0 ml-4">
      <i class="fa fa-youtube-square fa-lg" aria-hidden="true"></i>
    </div>
    <div class="col-0 ml-4">
      <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
    </div>
    <div class="col-0 ml-4">
      <i class="fa fa-pinterest-square fa-lg" aria-hidden="true"></i>
    </div>
  </div>
</div>
