<div class="container-fluid bg-light">
  <!-- Title Row 1 -->
  <div class="row">
    <div class="col-sm-4 ml-4">
      <h5 class="mt-2">Social Media</h5>
    </div>
    <div class="col-sm-4 ml-4">
      <h5 class="mt-2">Get in touch</h5>
    </div>
    <div class="col-sm-3">
      <h5 class="mt-2">Advertising</h5>
    </div>
  </div>
  <!-- Content Row 1 -->
    <div class="row my-1">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-0 ml-3">
            <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
          </div>
          <div class="col-sm-0 ml-4">
            <i class="fa fa-youtube-square fa-lg" aria-hidden="true"></i>
          </div>
          <div class="col-sm-0 ml-4">
            <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
          </div>
          <div class="col-sm-0 ml-4">
            <i class="fa fa-pinterest-square fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 ml-5">
            <h6 class="my-2">Support</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 ml-5">
            <small>Site map</small>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 ml-4">
            <small>Contact Support</small>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 ml-5">
            <small>Contact Us</small>
          </div>
        </div>
      </div>
    <div class="col-sm-4">
      <mat-form-field hintLabel="Send email" appearance="legacy" class="col-sm-8">
        <mat-label>Shoot us an email</mat-label>
        <input matInput type="email" placeholder="e.g. name@example.com">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <small class="ml-5">Advertise with us</small>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <h5 class="mt-2 ml-3">Global Community</h5>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <small class="ml-5">EU Policy</small>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <small class="ml-5">Privacy Policy</small>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <small class="ml-5">Data Policy</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row ml-5">
        <h5 class="mt-2">Other things</h5>
      </div>
    </div>
  </div>
</div>
