<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Username</mat-label>
          <input id="username" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Password</mat-label>
          <input id="password" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>First Name</mat-label>
          <input id="firstName" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Last Name</mat-label>
          <input id="lastName" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Email</mat-label>
          <input id="email" type="email"  matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Address</mat-label>
          <textarea id="address" matInput rows="3" placeholder="Please type your address here"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Role</mat-label>
          <input id="role" type="text" matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <button mat-raised-button type="button" class="col-12 my-4" color="accent" (click)="createUserByAdmin(user)">Create</button>
  </div>
</div>
