body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

.jumbotron-fluid {
    background-image: url("https://mobirise.com/bootstrap-carousel/assets2/images/mitchel-lensink-205264-2000x1333.jpg");
    background-size: cover;
    height: 60vh;
}