<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Ad Name</mat-label>
          <input [(ngModel)]="advertisement.name" id="recipeName" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Source to image</mat-label>
          <input [(ngModel)]="advertisement.image" id="image" matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <button mat-raised-button (click) = "updateAd(advertisement)" type="button" class="col-12 my-4" color="accent">Update</button>
  </div>
</div>
