<div class="container-fluid cookingSchoolForm">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <mat-form-field class="col-md-12" appearance="legacy" color="primary">
            <mat-label>Cooking School Name</mat-label>
            <input id="cookingSchoolName" matInput [(ngModel)]="cookingSchool.name" />
          </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-md-12" appearance="legacy" color="primary">
              <mat-label>Cooking School Image Url</mat-label>
              <input id="cookingSchoolImage" matInput [(ngModel)]="cookingSchool.image" />
            </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-12" appearance="legacy" color="primary">
            <mat-label>Number of Seats</mat-label>
            <input id="numberOfSeats" type="email" matInput [(ngModel)]="cookingSchool.noOfSeats"/>
          </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-md-12" appearance="legacy" color="primary">
              <mat-label>Duration</mat-label>
              <input id="duration" type="email" matInput [(ngModel)]="cookingSchool.duration"/>
            </mat-form-field>
          </div>
      </div>
    </div>
    <div class="row">
      <button mat-raised-button type="button" class="col-12 my-4" color="accent"
      (click)="onUpdateCookingSchool(cookingSchool)">Update</button>
    </div>
  </div>
