<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Recipio</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] = "['/cooking-school']">Cooking Schools</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink] = "['/about-us']">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink] = "['/contact-us']">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="cookieValue == ''; else loggedIn">
      <!-- Create Recipe dialog-->
      <!-- <button class="mr-4" (click)="openCreateRecipeDialog()" type="button" mat-raised-button color="accent" name="recipe">Create Recipe</button> -->
      <!-- Login & Register dialogs -->
      <button class="mr-4" (click)="openLoginDialog()" type="button" mat-raised-button color="accent" name="login">Log in</button>
      <button class="mr-4" (click)="openRegisterDialog()" type="button" mat-raised-button color="primary" name="register">Register</button>
      <mat-form-field class="mr-sm-3" color="accent">
        <input type="text" id="ingredientSearch" matInput [formControl] = "myControl" [matAutocomplete]="auto" [(ngModel)]="enteredRecipeName" />
        <mat-placeholder class="placeholder" style="color: white;">Search for recipe</mat-placeholder>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button color="accent" (click) = "callDisplayRecipe()">Search</button>
    </form>
    <!-- Template to render a different form when user has logged in -->
    <ng-template #loggedIn>
      <form class="form-inline my-2 my-lg-0">
        <span class="mr-4 my-2" style="color: white;"><h6>Logged in as, {{userType}}</h6></span>
        <button mat-raised-button color="accent" class="mr-4" type="button" name="profile" *ngIf="cookieValue != ''" [routerLink]="['/profile']">Profile</button>
        <!-- Create Recipe dialog-->
        <button class="mr-4" *ngIf="userType == 'user' || userType == 'chef'" (click)="openCreateRecipeDialog()" type="button" mat-raised-button color="accent" name="recipe">Create Recipe</button>
        <!-- Login & Register dialogs -->
        <button class="mr-4" type="button" (click)="logout()" mat-raised-button color="warn" name="logout">Log out</button>
        <!-- <button class="mr-4" (click)="openRegisterDialog()" type="button" mat-raised-button color="primary" name="register">Register</button> -->
        <mat-form-field class="mr-sm-3" color="accent">
          <input type="text" id="ingredientSearch" matInput [formControl] = "myControl" [matAutocomplete]="auto" [(ngModel)]="enteredRecipeName" />
          <mat-placeholder class="placeholder" style="color: white;">Search for recipe</mat-placeholder>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="accent" (click) = "callDisplayRecipe()">Search</button>
      </form>
    </ng-template>
  </div>
</nav>
