<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Recipe name</mat-label>
          <input id="recipeName" matInput [(ngModel)]="recipe.title" />
        </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="col-md-12" appearance="legacy" color="primary">
            <mat-label>Recipe Image Url</mat-label>
            <input id="recipeImage" matInput [(ngModel)]="recipe.image" />
          </mat-form-field>
        </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Ingredients - Please enter in the following format <small>(amount unit name,amount unit name) e.g 200 grams sugar</small></mat-label>
          <textarea id="ingredients" matInput placeholder="Ingredients" [(ngModel)]="recipe.extendedIngredients"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Preparation Instructions</mat-label>
          <textarea id="preparation" matInput placeholder="How to prepare?" [(ngModel)]="recipe.instructions"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Ready in Minutes</mat-label>
          <input id="readyInMinutes" type="email" matInput [(ngModel)]="recipe.readyInMinutes"/>
        </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="col-md-12" appearance="legacy" color="primary">
            <mat-label>Number of servings</mat-label>
            <input id="servings" type="email" matInput [(ngModel)]="recipe.servings"/>
          </mat-form-field>
        </div>
    </div>
  </div>
  <div class="row">
    <button mat-raised-button type="button" class="col-12 my-4" color="accent"
    (click)="createRecipe(recipe)">Create</button>
  </div>
</div>
