<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Recipe name</mat-label>
          <input id="recipeName" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Ingredients - Please enter in the following format <small>(amount unit name,amount unit name) e.g 200 grams sugar</small></mat-label>
          <textarea id="ingredients" matInput placeholder="Ingredients"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Preparation Instructions</mat-label>
          <textarea id="preparation" matInput placeholder="Textarea"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Created By</mat-label>
          <input id="createdBy" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Ready in Minutes</mat-label>
          <input id="readyInMinutes" type="email" matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <button mat-raised-button type="button" class="col-12 my-4" color="accent" (click)="createUserByAdmin(user)">Create</button>
  </div>
</div>
