<div class="container-fluid">
  <header>
    <app-nav-bar></app-nav-bar>
  </header>
  <table class="table table-bordered table-dark my-4">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Query</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let query of queries">
      <th scope="row">{{query.email}}</th>
      <td>{{query.text}}</td>
      <td><button mat-raised-button color="primary" class="col-8 mx-2">Reply</button></td>
    </tr>
  </tbody>
</table>
<footer>
  <app-footer></app-footer>
</footer>
</div>
