<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Recipe Name</mat-label>
          <input [(ngModel)]="recipe.title" id="recipeName" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Source to image</mat-label>
          <input [(ngModel)]="recipe.image" id="image" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Time to cook</mat-label>
          <input [(ngModel)]="recipe.readyInMinutes" id="timeToCook" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Servings</mat-label>
          <input [(ngModel)]="recipe.servings" id="servings" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Ingredients</mat-label>
          <textarea [(ngModel)]="recipe.extendedIngredients" id="ingredients" matInput rows="4" placeholder="Please type ingredients here in the following format (200 grams sugar, 100 grams flour)"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="legacy" color="primary">
          <mat-label>Cooking instructions</mat-label>
          <textarea [(ngModel)]="recipe.instructions" id="instructions" matInput rows="4" placeholder="Type cooking instructions here"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <button mat-raised-button (click)="updateRecipe(recipe)" type="button" class="col-12 my-4" color="accent">Update</button>
  </div>
</div>
