<div class="container-fluid">
  <header>
    <app-nav-bar></app-nav-bar>
  </header>
  <form class="mt-4">
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>First Name</mat-label>
          <input type="text" matInput id="inputFirstName" required [(ngModel)]="user.first_name" name="firstName" />
          <mat-icon matSuffix>person_outline</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput id="inputLastName" [(ngModel)]="user.last_name" name="lastName" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>Email</mat-label>
          <input type="email" matInput id="inputEmail" [(ngModel)]="user.email" name="email" required />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>Username</mat-label>
          <input type="text" matInput id="username" placeholder="e.g. abcxyzz" [(ngModel)]="user.username" name="username" />
          <mat-icon matSuffix>person_outline</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="col-md-12" appearance="outline" color="primary">
        <mat-label>Address 1</mat-label>
        <input type="text" matInput [(ngModel)]="user.address_1" name="address_1" id="inputAddress1" placeholder="1234 Main St" />
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="col-md-12" appearance="outline" color="primary">
        <mat-label>Address 2</mat-label>
        <input type="text" matInput id="inputAddress2" [(ngModel)]="user.address_2" name="address2" placeholder="Apartment, studio, or floor" />
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>City</mat-label>
          <input type="text" matInput [(ngModel)]="user.city" name="city" id="inputCity" placeholder="Apartment, studio, or floor" />
          <mat-icon matSuffix>map</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-group col-md-4">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>State</mat-label>
          <mat-select [(value)]="selected" [(ngModel)]="user.state" name="state">
            <mat-optgroup>
              North America
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-optgroup>
        </mat-select>
      </mat-form-field>
      </div>
      <div class="form-group col-md-2">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>Zip</mat-label>
          <input type="number" matInput [(ngModel)]="user.zip" name="zip" id="inputZip" placeholder="02118" required />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row" *ngIf="userType == 'user'">
        <button mat-raised-button color="primary" class="col-12 my-4" (click) = "viewRecipes()">View your created recipes</button>
    </div>
    <div class="form-row" *ngIf="userType == 'user'">
      <button mat-raised-button color="secondary" class="col-12 my-4" (click) = "openEnrolledSchoolsDialog()">View Enrolled Schools</button>
    </div>
    <div class="form-row" *ngIf="userType == 'advertiser'">
      <button mat-raised-button color="primary" class="col-12 my-4" [routerLink]="['/edit-ad']">View Listed Ads</button>
    </div>
    <div class="form-row" *ngIf="userType == 'advertiser'">
      <button mat-raised-button color="secondary" class="col-12 my-4" (click) = "openCreateAdDialog()">Create ad</button>
    </div>
    <div class="form-row" *ngIf="userType == 'admin'">
      <button mat-raised-button color="secondary" class="col-12 my-4" [routerLink]="['/admin-page']">Admin Page</button>
    </div>
    <div class="form-row">
      <button mat-raised-button color="accent" class="col-12 my-4" (click) = "updateUser(user)">Update</button>
    </div>
  </form>
  <app-footer></app-footer>
</div>
