/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Fjalla One', sans-serif;;
}
