<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <app-ad-banner></app-ad-banner>
        <app-nav-bar></app-nav-bar>
      </header>
      <br>
      <div class="row card-group">
          <div class="col-4"  *ngFor="let recipe of recipes; let i = index">
              <mat-card class="example-card">
                  <img mat-card-image src = {{recipe.image}} [routerLink] = "['/recipe',recipe.id]" alt="Photo of a recipe" />
                  <mat-card-content>
                    <h6 class="foodTitle">{{recipe.title}}</h6>
                      <hr>
                      <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 infoText">Ready In Minutes : <span>{{recipe.readyInMinutes | number: '1.0-0'}}</span></div>
                        <div class="col-1 verticalLine"></div>
                        <div class="col-4 infoText">Servings: <span>{{recipe.servings}}</span></div>
                        <div class="col-1"></div>
                      </div>
                      <hr>
                  </mat-card-content>
                  <mat-card-actions>
                      <!-- <button mat-button>LIKE</button> -->
                      <a href = "{{recipe.sourceUrl}}" mat-button class="moreBtn" target="_blank">MORE</a>
                  </mat-card-actions>
                </mat-card>
                <br>
                <!-- <mat-card class="example-card">
                    <img mat-card-image src = "https://camblycontent.files.wordpress.com/2017/02/advertising-word-block.jpg?w=700" [routerLink] = "['/recipe',recipe.id]" alt="Photo of a advertisement" />
                    <mat-card-content>
                      <h6 class="foodTitle">{{recipe.title}}</h6>
                        <hr>
                        <div class="row">
                          <div class="col-1"></div>
                          <div class="col-4 infoText">Ready In Minutes : <span>{{recipe.readyInMinutes | number: '1.0-0'}}</span></div>
                          <div class="col-1 verticalLine"></div>
                          <div class="col-4 infoText">Servings: <span>{{recipe.servings}}</span></div>
                          <div class="col-1"></div>
                        </div>
                        <hr>
                    </mat-card-content>
                  </mat-card> -->
                  <br>
          </div>
          <!-- <div class="col-4"  *ngFor="let recipe of recipes; let i = index">

                <br>
          </div> -->
      </div>
      <div class="footer">
        <app-footer></app-footer>
      </div>
    </div>
  </body>
</html>
