<div class="container-fluid">
  <form class="mt-4" method="post">
    <div class="form-row">
      <div class="form-group col-sm-12">
        <mat-form-field class="col-sm-12" appearance="outline" color="primary">
          <mat-label>Username</mat-label>
          <input type="text" [(ngModel)]="username" name="usernameField" matInput id="inputFirstName" required />
          <mat-icon matSuffix>person_outline</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12">
        <mat-form-field class="col-sm-12" appearance="outline" color="accent">
          <mat-label>Password</mat-label>
          <input type="text" [(ngModel)]="password" name="passwordField" matInput id="inputFirstName" required />
          <mat-icon matSuffix>person_outline</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <button class="ml-4" (click) = "register(username, password)" type="button" mat-raised-button color="accent" name="login">Register</button>
      </div>
      <div class="col-sm-4">
        <button class="ml-4" (click)="closeRegisterDialog()" type="button" mat-raised-button color="warn" name="login">Cancel</button>
      </div>
      <div class="col-sm-4">
        <a href="#"><small>Forgot Password?</small></a>
      </div>
    </div>
  </form>
</div>
